/*********************
BASE (MOBILE) SIZE
This are the mobile styles. It's what people see on their phones. If
you set a great foundation, you won't need to add too many styles in
the other stylesheets. Remember, keep it light: Speed is Important.
*********************/
.bf-error,
.sr-only {
  display: none;
}

.bf-error {
  color: #f00;
}

.bf-star {
  color: #f00;
}

.bfrf-form select,
.bfrf-form textarea,
.bfrf-form input[type="text"],
.bfrf-form input[type="password"],
.bfrf-form input[type="email"],
.bfrf-form input[type="url"],
.bfrf-form input[type="date"],
.bfrf-form input[type="month"],
.bfrf-form input[type="time"],
.bfrf-form input[type="datetime"],
.bfrf-form input[type="datetime-local"],
.bfrf-form input[type="week"],
.bfrf-form input[type="number"],
.bfrf-form input[type="search"],
.bfrf-form input[type="tel"],
.bfrf-form input[type="color"] {
  background-color: #fff;
  border: 1px solid #000;
}

.bfrf-form select:active, .bfrf-form select:focus,
.bfrf-form textarea:active,
.bfrf-form textarea:focus,
.bfrf-form input[type="text"]:active,
.bfrf-form input[type="text"]:focus,
.bfrf-form input[type="password"]:active,
.bfrf-form input[type="password"]:focus,
.bfrf-form input[type="email"]:active,
.bfrf-form input[type="email"]:focus,
.bfrf-form input[type="url"]:active,
.bfrf-form input[type="url"]:focus,
.bfrf-form input[type="date"]:active,
.bfrf-form input[type="date"]:focus,
.bfrf-form input[type="month"]:active,
.bfrf-form input[type="month"]:focus,
.bfrf-form input[type="time"]:active,
.bfrf-form input[type="time"]:focus,
.bfrf-form input[type="datetime"]:active,
.bfrf-form input[type="datetime"]:focus,
.bfrf-form input[type="datetime-local"]:active,
.bfrf-form input[type="datetime-local"]:focus,
.bfrf-form input[type="week"]:active,
.bfrf-form input[type="week"]:focus,
.bfrf-form input[type="number"]:active,
.bfrf-form input[type="number"]:focus,
.bfrf-form input[type="search"]:active,
.bfrf-form input[type="search"]:focus,
.bfrf-form input[type="tel"]:active,
.bfrf-form input[type="tel"]:focus,
.bfrf-form input[type="color"]:active,
.bfrf-form input[type="color"]:focus {
  background-color: #fff;
}

.bfrf-form select.invalid,
.bfrf-form textarea.invalid,
.bfrf-form input[type="text"].invalid,
.bfrf-form input[type="password"].invalid,
.bfrf-form input[type="email"].invalid,
.bfrf-form input[type="url"].invalid,
.bfrf-form input[type="date"].invalid,
.bfrf-form input[type="month"].invalid,
.bfrf-form input[type="time"].invalid,
.bfrf-form input[type="datetime"].invalid,
.bfrf-form input[type="datetime-local"].invalid,
.bfrf-form input[type="week"].invalid,
.bfrf-form input[type="number"].invalid,
.bfrf-form input[type="search"].invalid,
.bfrf-form input[type="tel"].invalid,
.bfrf-form input[type="color"].invalid {
  background-color: #f00;
}

.bfrf-form [type=checkbox].invalid {
  outline: 3px solid #f00;
}

.bfrf-form .state {
  display: none;
}

.bfrf-form.validated select:invalid,
.bfrf-form.validated textarea:invalid,
.bfrf-form.validated input[type="text"]:invalid,
.bfrf-form.validated input[type="password"]:invalid,
.bfrf-form.validated input[type="email"]:invalid,
.bfrf-form.validated input[type="url"]:invalid,
.bfrf-form.validated input[type="date"]:invalid,
.bfrf-form.validated input[type="month"]:invalid,
.bfrf-form.validated input[type="time"]:invalid,
.bfrf-form.validated input[type="datetime"]:invalid,
.bfrf-form.validated input[type="datetime-local"]:invalid,
.bfrf-form.validated input[type="week"]:invalid,
.bfrf-form.validated input[type="number"]:invalid,
.bfrf-form.validated input[type="search"]:invalid,
.bfrf-form.validated input[type="tel"]:invalid,
.bfrf-form.validated input[type="color"]:invalid {
  background-color: #f00;
}

.bfrf-form.validated [type=checkbox]:invalid {
  outline: 3px solid #f00;
}

.bfrf-form .bfrf-lda-fields {
  display: inline-block;
  text-align: center;
  width: 100%;
}

.bfrf-form .bfrf-lda-fields .bfrf-lda-label {
  display: inline-block;
  width: 100%;
}

.bfrf-form .bfrf-lda-fields .bfrf-lda-field {
  display: inline-block;
  float: left;
  margin: 0;
  padding: 0;
  width: 33%;
}

.bfrf-form .bfrf-lda-fields .bfrf-lda-field input[type="text"],
.bfrf-form .bfrf-lda-fields .bfrf-lda-field input[type="password"],
.bfrf-form .bfrf-lda-fields .bfrf-lda-field input[type="email"],
.bfrf-form .bfrf-lda-fields .bfrf-lda-field input[type="url"],
.bfrf-form .bfrf-lda-fields .bfrf-lda-field input[type="date"],
.bfrf-form .bfrf-lda-fields .bfrf-lda-field input[type="month"],
.bfrf-form .bfrf-lda-fields .bfrf-lda-field input[type="time"],
.bfrf-form .bfrf-lda-fields .bfrf-lda-field input[type="datetime"],
.bfrf-form .bfrf-lda-fields .bfrf-lda-field input[type="datetime-local"],
.bfrf-form .bfrf-lda-fields .bfrf-lda-field input[type="week"],
.bfrf-form .bfrf-lda-fields .bfrf-lda-field input[type="number"],
.bfrf-form .bfrf-lda-fields .bfrf-lda-field input[type="search"],
.bfrf-form .bfrf-lda-fields .bfrf-lda-field input[type="tel"],
.bfrf-form .bfrf-lda-fields .bfrf-lda-field input[type="color"] {
  width: 100%;
}

.bfrf-form #g_recaptcha {
  display: inline-block;
  width: auto;
}

.bfrf-form #g_recaptcha .g-recaptcha {
  display: inline-block;
  width: auto;
}

.bfrf-form #g_recaptcha.invalid > .g-recaptcha {
  border: 2px solid #f00;
}

.bfrf-lightbox {
  background-color: #fff;
  display: none;
  padding: 15px;
}

.bfrf-lightbox .bfrf-lightbox--close-container {
  left: 0;
  position: absolute;
  text-align: right;
  top: 0;
  width: 100%;
}

.bfrf-lightbox .bfrf-lightbox--close-container i {
  margin-right: 5px;
}

.bfrf-lightbox .bfrf-lightbox--close-container i:hover {
  color: #404040;
  cursor: pointer;
}

/*********************
LARGER MOBILE DEVICES
This is for devices like the Galaxy Note or something that's
larger than an iPhone but smaller than a tablet. Let's call them
tweeners.
*********************/
/*********************
TABLET & SMALLER LAPTOPS
This is the average viewing window. So Desktops, Laptops, and
in general anyone not viewing on a mobile device. Here's where
you can add resource intensive styles.
*********************/
/*********************
DESKTOP
This is the average viewing window. So Desktops, Laptops, and
in general anyone not viewing on a mobile device. Here's where
you can add resource intensive styles.
*********************/
/*********************
LARGE VIEWING SIZE
This is for the larger monitors and possibly full screen viewers.
*********************/
/*********************
RETINA (2x RESOLUTION DEVICES)
This applies to the retina iPhone (4s) and iPad (2,3) along with
other displays with a 2x resolution. You can also create a media
query for retina AND a certain size if you want. Go Nuts.
*********************/
/*********************
PRINT STYLESHEET
Feel free to customize this. Remember to add things that won't make
sense to print at the bottom. Things like nav, ads, and forms should
be set to display none.
*********************/
/*
Add custom CSS here to avoid being overwritten but updates
 */

/*# sourceMappingURL=app.css.map */
